body {
    font-family: roboto, sans-serif;
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: #A47551;
    color: white;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-self: stretch;
    justify-content: space-around;
}

.header-logo {
    height: auto;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-links {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-flow: row wrap;
    justify-self: flex-end;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero-container {
    background-color: #A47551;
    color: white;
    padding: 100px;
    display: flex;
    flex-flow: row wrap;
    flex: auto;
    justify-content: center;
    gap: 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
}

.hero {
    font-size: 48px;
    font-weight: 800;
}

.hero-desc {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    margin-top: 10px;
    align-self: flex-start;
    color: white;
    background-color: #523A28;
    padding: 5px 20px;
    border: 0;
    border-radius: 7px;
}

.hero-img {
    height: auto;
    width: 500px;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 800px;
    color: #1F2937;
}

.information {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    flex-grow: 1;
    gap: 50px;
}

.info-content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 150px;
    text-align: center;
    align-items: center;
}

.content-image {
    height: 150px;;
    width: 150px;
    border: 5px solid #A47551;
}